.App{

  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;

}
/* 
#root{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#component{
  background-image: url(../src/assets/background2.png);
  background-position-y: top;
  background-size:cover;
  background-repeat: no-repeat;
  
  
} */
